<!-- trying to find a way to loop for every list! -->
<div class="list-box">

  <% @lists.each do |list| %>
    <div id="landing-cards">
      <div>
        <%= list.name + " | " + list.style %>
      </div>
      <div>
        <%= button_to "Listen", list, class: "btn btn-success" %>
      </div>
      <div class="item" id="video-card">
        <iframe width="560" height="315" src="<%= list.link %>"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  <% end %>

</div>

<% if policy(List).create? %>
  <%= link_to 'New List', new_list_path %>
<% end %>
