<!--
<h1>welcome to the <span id="yellow">tunes</span> of freedom </h1>
<br>
<hr>
<h2>choose your style!</h2>
<br>
-->
<div class="list-box">
  <% @lists.each do |list| %>
    <div>
      <%= list.name + " | " + list.style %>
    </div>
    <div>
      <%= button_to "test list", list, class: "btn btn-success" %>
    </div>
  <% end %>
</div>

<hr>

<!-- trying to find a way to loop for every list! -->
<div class="list-box">

  <% @lists.each do |list| %>
    <div class="item">
      <iframe width="560" height="315" src="<%= list.link %>"
      frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  <% end %>

</div>

<% if policy(List).create? %>
  <%= link_to 'New List', new_list_path %>
<% end %>
