<div class="list-box" id="admin-box">
  <% if current_user && current_user.admin? %>
    <h1 id="admin-not">hello admin friend!</h1>
  <% elsif user_signed_in? %>
     <h1 id="admin-not">You are not the admin..</h1>
  <% else %>
    <h1 id="admin-not">sign in to save your lists</h1>
  <% end %>
</div>

<!-- trying to find a way to loop for every list! -->
<div class="list-box">

  <% @lists.each do |list| %>
    <div id="landing-cards">
      <div>
        <%= list.name + " | " + list.style %>
      </div>
      <div>
        <%= button_to "Listen to me!", list, class: "btn btn-success" %>
      </div>
      <div>
        <%= cl_image_tag list.photo.key, height: 432, width: 532, crop: :fit %>
      </div>
    </div>
  <% end %>

</div>

<% if policy(List).create? %>
  <%= link_to 'New List', new_list_path %>
<% end %>
