<div class="banner">
  <div id="banner-div">
    <div id="welcome-head" class="container">
      <h1 id="quote">"You may say I'm a <strong><span id="yellow">dreamer, </span></strong>but I'm not the only one..
          I hope some day you'll join us and the world will be as <strong>one!</strong>"</h1>
    </div>
    <div id="style" class="container">
      <p>search for your style!</p>
      <a id="enter-btn" class="btn btn-danger" href="#">search now</a>
    </div>
  </div>
</div>
