<div class="banner">
  <div class="container">
    <h1>Welcome to the  <strong><span id="yellow">tunes</span></strong> of <strong>freedom!</strong></h1>
    <p>choose your style!</p>
    <a id="enter-btn" class="btn btn-danger" href="#">Enter now</a>
  </div>
</div>
