<div class="banner" id="welcome-quote">
  <div id="banner-div">
    <div class="container py-5">
      <div class="output" id="output">
        <h1 class="cursor"></h1>
        <p></p>
      </div>
    </div>
  </div>


  <div id="style" class="container">
    <p>search for your style!</p>
    <a id="enter-btn" class="btn btn-danger" href="#">search now</a>
  </div>
</div>




