<div class="banner" id="welcome-quote">
  <div class="neon-wrapper">
    <div class="neon-text">TUNES OF FREEDOM</div>
    <div class="container py-5" id="quote-div">
      <div class="output" id="output">
        <h1 class="cursor"></h1>
        <p></p>
      </div>
    </div>

  </div>


</div>

<div id="style" class="container">
  <p>search for your style!</p>
  <a id="enter-btn" class="btn btn-danger" href="#"><span>search now</span></a>
</div>
