<div class="footer">
  <div class="footer-link">
    <h2>Visit us on.. <a target="_blank" href="#"><i class="fab fa-facebook-square"></i></a></h2>
  </div>
  <div class="footer-copyright">
   <h2> Tunes of <i class="fas fa-heart"></i> Freedom&copy;</h2>
  </div>
</div>
