<div class="footer">
  <div class="footer-link">
    <h2>under construction<a target="_blank" href="#"><i class="fab fa-facebook-square"></i></a></h2>
  </div>
  <div class="footer-copyright">
   <h3> Tunes of <i class="fas fa-heart"></i> Freedom&copy;</h3>
  </div>
</div>
