<!--buy me a beer?-->
<script data-name="BMC-Widget" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js"
 data-id="phaedonv" data-description="Support me on Buy me a coffee!" data-message="Thank you for visiting.
 You can now buy me a coffee.. or beer ;)" data-color="#BD5FFF" data-position="Right" data-x_margin="18" data-y_margin="18"></script>
<div class="footer">
  <div class="footer-link">
    <h2 id="ucon">under construction<a target="_blank" href="#"><i class="fab fa-facebook-square"></i></a></h2>
  </div>
  <div class="footer-copyright">
   <h3 id="footer-title"> Tunes of Freedom&copy;</h3>
  </div>
  <div>
    <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="phaedonv"
    data-color="#BD5FFF" data-emoji="ðŸ»"  data-font="Bree" data-text="Buy me a beer!" data-outline-color="#000000" data-font-color="#ffffff"
    data-coffee-color="#FFDD00" ></script>
  </div>
</div>
