<div>
  <div class="my-lists">
    <h1>THIS IS THE CORRECT DASHBOARD!</h1>

    <%
    def user_is_owner?
      current_user.id == @user.id
    end
    %>

    <!--Here you must see each user lists and dashboard..!-->

    <% if user_is_owner? %>
    <% @my_lists.each do |list| %>
    <%= link_to list.name, list_path(list) %>
    <% end %>
    <% else %>
    <% @their_lists.each do |list| %>
    <%= link_to list.name, list_path(list) %>
    <% end %>
    <% end %>



    <br><hr>
    <%= link_to @user.name, dashboard_url %>
    <br>


    <%= @dashboard.status %>

  </div>
</div>



