@font-face {
    font-family: 'HELLODENVERDISPLAYREGULARRg';
    src: url('<%= asset_path("hellodenverdisplayregular_v1.6.eot") %>');
    src: font-url('font.hellodenverdisplayregular_v1.6.eot?#iefix') format('embedded-opentype'),
         font-url('font.hellodenverdisplayregular_v1.6.woff') format('woff'),
         font-url('font.hellodenverdisplayregular_v1.6.ttf') format('truetype'),
         font-url('font.hellodenverdisplayregular_v1.6.svg#HELLODENVERDISPLAYREGULARRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

.neon-text {
  background-color: #0000;
  padding-top: 3rem;
  text-align: center;
  font-family: 'HELLODENVERDISPLAYREGULARRg', 'Poiret One', cursive;;
  font-size: 7rem;
  color: #ffd8d8;
}

.neon-wrapper {
  top: 6rem;
  position: relative;
}

.neon-text {
  text-shadow:
  .1vw 0vw .25vw #ffd8d8, .2vw 0vw .25vw #ffd8d8, .4vw 0vw .25vw #ffd8d8,

  .1vw 0vw   0vw #f91bb7, .2vw 0vw   0vw #f91bb7, .4vw 0vw   0vw #f91bb7,
  .1vw 0vw  .1vw #f91bb7, .2vw 0vw  .1vw #f91bb7, .4vw 0vw  .1vw #f91bb7,
  .1vw 0vw   2vw #f91bb7, .2vw 0vw   2vw #f91bb7, .4vw 0vw   2vw #f91bb7,

  .1vw 0vw   1vw #d6159f, .2vw 0vw   1vw #d6159f, .4vw 0vw   5vw #d6159f,
  .1vw 0vw   5vw #d6159f, .2vw 0vw  20vw #d6159f, .4vw 0vw  10vw #d6159f,
  .1vw 0vw  10vw #d6159f, .2vw 0vw  30vw #d6159f, .4vw 0vw  10vw #d6159f;
}
//.............................................................................
.banner {
  height: 777px;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("https://res.cloudinary.com/thisisnotanimage/image/upload/v1595696202/Tunes%20of%20Freedom/tof_banner_bhvy8z.png");
  background-repeat: no-repeat;
}


//.............................................................................
.output {
  text-align:center;
  font-family: 'Source Code Pro', monospace;
  color:white;
  h1 {
    font-size:30px;
  }
}

/* Cursor Styling */

.cursor::after {
  content:'';
  display:inline-block;
  margin-left:3px;
  background-color:white;
  animation-name:blink;
  animation-duration:0.5s;
  animation-iteration-count: infinite;
}
h1.cursor::after {
  height:24px;
  width:13px;
}
p.cursor::after {
  height:13px;
  width:6px;
}

@keyframes blink {
  0% {
    opacity:1;
  }
  49% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}
//...............................................

#welcome-quote {
  display: flex;
  align-content: center;
  }
  49% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:0;
  }

//...............................................

#welcome-quote {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: stretch;
  flex-wrap: wrap;
}

#quote-div {
  position: absolute;
  top: 26rem;
}

#style p {
  font-size: 24px
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

#style {
  text-align: center;
}

//.........................button-test..............................

#enter-btn {
  background: linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  border: aqua;
  color: white;
}

#enter-btn:hover {
  background: linear-gradient(45deg, rgba(255,53,127,1) 0%, rgba(152,68,183,1) 25%, rgba(87,111,230,1) 51%, rgba(59,173,227,1) 100%);
}


