.banner {
  height: 777px;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("https://scontent.fskg3-1.fna.fbcdn.net/v/t1.0-9/107887091_101344854995734_7282719421057147702_o.png?_nc_cat=106&_nc_sid=6e5ad9&_nc_ohc=KzCyTtnMF84AX8dgAMn&_nc_ht=scontent.fskg3-1.fna&oh=d76e4f9dab5c678195f97947363abdcd&oe=5F41F2B1");
  background-repeat: no-repeat;
}

#banner-div {
  position: relative;
  top: 222px;
}

#banner-div h1 {
  font-size: 42px;
}

#style p {
  font-size: 24px
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

#style {
  text-align: center;
}
