.footer {
  height: 666px !important;
  background: #F4F4F4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 300px;
  padding: 0px 50px;
  color: #495057;
  position: relative;
  bottom: 0;
  background-image: url("https://media.giphy.com/media/ZTans30ONaaIM/giphy.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: black;
}
