.footer {
  height: 666px !important;
  background-color: #2a2a2a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 300px;
  padding: 0px 50px;
  color: #495057;
  position: relative;
  bottom: 0;
  /*background-image: url("https://media.giphy.com/media/ZTans30ONaaIM/giphy.gif");*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: black;
}

#ucon {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Source Code Pro', monospace;

  font-weight: bolder;
  text-shadow: 0 0 3px black, 0 0 5px #ff00d4;
  letter-spacing: 0px;
  color: white;
}

#footer-title {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Source Code Pro', monospace;

  font-weight: bolder;
  text-shadow: 0 0 3px black, 0 0 5px #ff00d4;
  letter-spacing: 0px;
  color: white;
}
