.navbar-lewagon {
  justify-content: space-between !important;
  background: black;
  opacity: 0.8;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#welcome-msg {
  position: relative;
  color: #48B8D0;
  text-shadow: 0 0 3px #D82090, 0 0 5px #4098C0;
  top: 42px;
  left: 148px;
  font-size: 15px;
  letter-spacing: 9px;
  font-family: 'Bangers', sans-serif, cursive;
}
