#admin-box {
  margin-top: 42px;
}

#admin-not {
  font-size: 24px !important;
}

.btn-over-pic {
  display: flex;
  align-items: center;
  justify-content: center;
}

.click-me {
  position: absolute;
  padding: 20px;
  align-self: flex-end;
  margin-bottom: 42px;
}
