/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 //External
@import "bootstrap/scss/bootstrap";



//CSS partials
@import "components/navbar";
@import "components/welcome";
@import "components/devise_views";

// Everywhere styles..
h1, h2, h3 {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-size: 60px;
  font-weight: bolder;
  text-shadow: 0 0 3px #D82090, 0 0 5px #4098C0;
  letter-spacing: 14px;
  color: #48B8D0;
}

.item {
  display: flex;
  justify-content: space-around;
}

#yellow {
  color: #E0A801;
}

body {
  background-color: #2A2A2A;
  color: lime;
}

.list-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  color: white;
}

#list-photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  font-size: 9px;
  font-weight: bold;
  text-shadow: 0 0 3px black, 0 0 5px #ff00d4;
  letter-spacing: 0px;
  color: white;
}

#list-info {
  padding: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#video-card {
  margin-top: 21px;
  margin-bottom: 21px;
}

#landing-cards {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.neon-info {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
  font-weight: bolder;
  text-shadow: 0 0 3px black, 0 0 5px #ff00d4;
  letter-spacing: 0px;
  color: white;
}

.neon-info-big {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  font-size: 34px;
  font-weight: bolder;
  text-shadow: 0 0 3px black, 0 0 5px #ff00d4;
  letter-spacing: 0px;
  color: white;
}

p::selection { color: #f91bb7; }
h1::selection { color: #f91bb7; }
h2::selection { color: #f91bb7; }
h3::selection { color: #f91bb7; }
h4::selection { color: #f91bb7; }
h5::selection { color: #f91bb7; }
a::selection { color: #f91bb7; }
.neon-info::selection { color: #f91bb7; }
img::selection { color: #f91bb7; }
